

<h1 class="h">Welcome to the Movie Review!</h1>
<%= link_to movies_path do %>

    <div class="ratio"> <img src="/assets/movie button.png" height="400" width="400"/> </div>
<%end%>
</body>

